body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  max-width: 100%;
}

h1 {
  font-size: 562.5%;
  margin-top: 0;
  font-family: "Sacramento", cursive;
  color: #3b2e5a;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #3b2e5a;
  font-weight: normal;
  font-size: 200%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #6f4a8e;
  font-size: 150%;
}

hr {
  background-color: white;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

a {
  color: #6f4a8e;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #a8d8ea;
}

.top-container {
  background-color: #a8d8ea;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  padding-bottom: 3%;
  background-color: #a8d8ea;
}

.top-rocket {
  right: 300px;
  top: 50px;
  position: absolute;
  height: 50px;
  width: 50px;
}

.bottom-rocket {
  left: 300px;
  bottom: 450px;
  position: absolute;
  height: 50px;
  width: 50px;
}

.education,
.work,
.project {
  padding-left: 10%;
  text-align: left;
}

#middle-heading {
  font-weight: 800;
}

#profile-img {
  border-radius: 10px;
}

@media (max-width: 1020px) {
  .top-rocket {
    right: 100px;
    top: 50px;
    position: absolute;
    height: 50px;
    width: 50px;
  }

  .bottom-rocket {
    left: 200px;
    bottom: 450px;
    position: absolute;
    height: 50px;
    width: 50px;
  }
}
